@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');




* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
  width: 100%;
}


body {
	margin: 0;
  background-color: rgb(39, 37, 37);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
  display: flex;
  flex-direction: column;


}



/* navigation styles start here */



nav {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: black;

  z-index: 9999;

  border-right: 1px solid rgb(109, 102, 102);
}


nav a {
  display: inline-block;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;


}

nav a:hover {
  border-style: solid none none none;
  border-color: blanchedalmond;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 2em;
  margin-left: 1em;
}

h2 {
  color: white;
  margin: 100px;
}




/* navigation styles end here */

/* ============
  FOOTER
  ============= */

.footer {

  background: black;
  
  position: relative;
  padding: 10px 10px 0px 10px;
  margin-left: 250px;
  margin-top: auto;
  bottom:0;
  width: 100% - 250px;

  z-index: 999;

  
}

.footer-content {
  color:white;
  display: flex;
  margin-bottom: 1em;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  

}

.footer-content a {
  letter-spacing: 0.05em;
  text-decoration: none;
  color:blanchedalmond;
}

.footer img {
  width: 50px;
  height:50px;
}

/* =============
  Footer end
  ============== */




/* ================
  grid main content
  ================= */


.content {
  background-color: rgb(39, 37, 37);
  background-blend-mode: multiply;
  background-size: cover;
  place-items: center;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 250px;
  
}

.grid-item1 {
  grid-column: span 1;
  letter-spacing: 0.05em;
} 

.grid-item2 {
  grid-column: span 2;
  grid-row: span 2;
}

img {  
  max-width: 100%;  
  height: auto;  
}


.grid-text {
  background: rgb(39, 37, 37);
  color:blanchedalmond;
  font-size: 20px;
  border:10px;
  padding: 10px;
  
  
}

/* ==============
 grid content end
 ================ */

#content1 {
  display:none;
}

#content2 {
  display: none;
}

#grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 250px;
  gap: 3em;
}


#short-review {
  color:white;
  letter-spacing: 0.05em;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border: 5px;
  margin: 20px;
}

#item img {
  margin: 20px;
  border-style:solid;
  border-color: black;
}


#essey1 {
  display: none;
  margin-left: 250px;
}

#essey1 img {
  width: 100%-250px;
  height: 500px;

}

#essey {
  letter-spacing: 0.06em;
  line-height: 1.6;
  background-color: white;
  padding: 20px;
  color:black;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  border-style: solid black 10px;
  margin: 20px;
  font-size: 20px;
  word-spacing: 4px;

}




 /* ===================
  for a smaller screen 
  ====================== */

@media screen and (max-width: 900px) {

  .grid-container {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 100%;
    
  }

  .grid-item1, .grid-item2, .grid-item3{
    margin: 20px;
  }

  .grid-item3 {
    margin-bottom: 100px;
  }


}

